In [9]:
import pandas as pd

In [10]:
data = pd.read_csv('FWCR_all_data-Sheet1.csv')

# See The Head Of Data

In [12]:
data.head(20)

,date,temperature,humidity,windspeed,rainchance,people,chicken,pork,fish,vegetable
0,1/6/2019,36.0,65.0,21.0,30.0,108.0,12.0,15.3,8.0,7.0
1,2/6/2019,36.0,70.0,15.0,70.0,123.0,12.7,14.0,7.5,7.7
2,3/6/2019,36.0,66.0,17.0,30.0,77.0,10.0,12.3,6.4,6.3
3,4/6/2019,36.0,72.0,10.0,30.0,80.0,10.0,11.8,7.2,6.3
4,5/6/2019,35.0,69.0,15.0,80.0,74.0,9.7,12.0,7.0,6.1
5,6/6/2019,36.0,68.0,17.0,70.0,87.0,10.1,14.0,7.2,6.2
6,7/6/2019,34.0,66.0,18.0,60.0,97.0,11.4,14.1,7.7,6.0
7,8/6/2019,34.0,66.0,19.0,60.0,112.0,11.8,14.3,7.0,6.3
8,9/6/2019,34.0,67.0,13.0,80.0,135.0,13.1,14.4,8.2,6.8
9,10/6/2019,34.0,70.0,13.0,90.0,68.0,6.3,8.0,5.0,4.3
10,11/6/2019,30.0,70.0,13.0,50.0,76.0,9.7,12.0,7.0,6.1
11,12/6/2019,34.0,74.0,5.0,30.0,79.0,10.0,11.8,7.2,6.2
12,13/6/2019,34.0,74.0,5.0,30.0,80.0,10.0,11.8,7.2,6.2
13,14/6/2019,34.0,70.0,13.0,90.0,90.0,11.2,14.0,7.1,7.0
14,15/6/2019,35.0,71.0,10.0,70.0,130.0,13.0,15.0,8.0,7.5
15,16/6/2019,34.0,71.0,9.0,70.0,125.0,12.5,13.0,8.3,7.6
16,17/6/2019,31.0,64.0,15.0,80.0,78.0,9.8,11.2,6.9,6.2
17,18/6/2019,33.0,63.0,19.0,40.0,83.0,10.1,12.0,7.2,6.7
18,19/6/2019,33.0,60.0,20.0,50.0,75.0,9.6,11.3,6.4,6.4
19,20/6/2019,35.0,65.0,17.0,30.0,78.0,9.8,11.2,6.9,6.5

In [15]:
data.shape

(95, 10)

In [16]:
data.tail()

,date,temperature,humidity,windspeed,rainchance,people,chicken,pork,fish,vegetable
90,30/8/2019,32.0,75.0,4.0,80.0,53.000000,6.000000,8.300000,6.100000,3.900000
91,31/8/2019,32.0,72.0,4.0,30.0,101.000000,11.000000,12.600000,8.000000,7.500000
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,AVERAGE,NaN,NaN,NaN,NaN,93.119565,9.690217,11.600000,7.602174,6.622826
94,1 person,NaN,NaN,NaN,NaN,1.000000,0.104062,0.124571,0.081639,0.071122

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 10 columns):
date           94 non-null object
temperature    92 non-null float64
humidity       92 non-null float64
windspeed      92 non-null float64
rainchance     92 non-null float64
people         94 non-null float64
chicken        94 non-null float64
pork           94 non-null float64
fish           94 non-null float64
vegetable      94 non-null float64
dtypes: float64(9), object(1)
memory usage: 7.5+ KB

# See Random Of The Sample

In [20]:
data.sample(5)

,date,temperature,humidity,windspeed,rainchance,people,chicken,pork,fish,vegetable
2,3/6/2019,36.0,66.0,17.0,30.0,77.0,10.0,12.3,6.4,6.3
80,20/8/2019,33.0,76.0,11.0,40.0,79.0,6.9,9.6,8.8,5.2
55,26/7/2019,33.0,71.0,10.0,70.0,72.0,7.0,8.8,8.5,5.4
28,29/6/2019,33.0,68.0,17.0,60.0,128.0,11.8,15.0,8.8,7.5
14,15/6/2019,35.0,71.0,10.0,70.0,130.0,13.0,15.0,8.0,7.5

In [22]:
data.mean()

temperature    33.402174
humidity       73.663043
windspeed      12.423913
rainchance     55.543478
people         92.139570
chicken         9.588237
pork           11.477921
fish            7.522168
vegetable       6.553127
dtype: float64

In [25]:
data.manufacture

AttributeError: 'DataFrame' object has no attribute 'manufacture'